<h2>Menú gestión de iframes</h2>

<ul>
    <li><a href="{{ url('jw_curso_sf2_backend_listar_iframes') }}">Listar</a> </li>
    <li><a href="{{ url('jw_curso_sf2_backend_aniadir_iframe') }}">Añadir</a> </li>
</ul>