{% extends 'JwCursoSf2BackendBundle::layout.html.twig' %}

{% block contenido_gestion %}
    <h2>Borrar</h2>

    {% if result == true %}
        <h3>El iframe {{ iframe }} ha sido borrado</h3>
    {% else %}
        <h3>No se ha podido borrar el fichero {{ iframe }}</h3>
    {% endif %}

{% endblock  %}