{% extends 'JwCursoSf2BackendBundle::layout.html.twig' %}

{% block contenido %}
    <h1>Gestión</h1>
    <div id="menu_gestion">
        {% include 'JwCursoSf2BackendBundle:IframesArchivos:partials/menu_gestion.html.twig' %}
    </div>
{% endblock contenido %}