{% extends 'JwCursoSf2BackendBundle::layout.html.twig' %}

{% block contenido_gestion %}
    <h2>Modificar</h2>

    <form id="formIframe" method="post" action="{{ url('jw_curso_sf2_backend_aniadir_iframe') }}"  novalidate="novalidate" {{ form_enctype(formIframe) }}>
        {{ form(formIframe) }}
    </form>

{% endblock %}